#submitButton {
    margin: auto;
    top: 0px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #1e1e1f;
    color: rgb(231, 233, 235);
    box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, .8);
    transition: 1s;
}

#submitButton:hover {
    position: relative;
    width: 90px;
    height: 25px;
}

#AddButton {
    position: absolute;
    left: 2%;
    top: 170px;
    width: 3%;
    height: 35%;
    background-color: #2e3435;
    box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, .8);
    border-radius: 5px;
    transition: .5s;
}

#AddButton:hover {
    position: absolute;
    top: 160px;
    box-shadow: -2px 15px 10px -5px rgba(0, 0, 0, .8);
}

#SortButton {
    position: absolute;
    left: 6%;
    top: 170px;
    width: 3%;
    height: 35%;
    background-color: #2e3435;
    box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, .8);
    border-radius: 5px;
    transition: .5s;
}

#SortButton:hover {
    position: absolute;
    top: 160px;
    box-shadow: -2px 15px 10px -5px rgba(0, 0, 0, .8);
}

#buttonIcon {
    width: 100%;
    max-width: 40px;
    min-width: 10px;
    position: relative;
    left: .5%;
    top: -1%;
}

#searchIcon {
    width: 40%;
    max-width: 35px;
    min-width: 10px;
    position: relative;
}

#page {
    background-image: url("Images/giphy.gif");
    background-position: left;
    background-size: cover;
}

#siteNameID {
    position: relative;
    top: 5px;
    left: 10px;
}

#inlineImage {
    height: 40px;
    position: absolute;
    top: 5px;
    left: 200px;
    clip-path: circle();
}

#siteDescription {
    position: absolute;
    left: 280px;
    top: 15px;
    font-style: italic;
    font-size: 20px;
}

#inputForm {
    margin: auto;
    width: 20%;
    text-align: center;
    background-color: #2e3435;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 25px 25px 5px rgba(0, 0, 0, .8);
}

#editForm {
    margin: auto;
    width: 20%;
    text-align: center;
    background-color: #2e3435;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 25px 25px 5px rgba(0, 0, 0, .8);
}

#sitePhoto {
    position: relative;
    padding: 20px;
}

#WebName {
    font-size: 40px;
    font-weight: 550;
}

#WebURL {
    font-size: 30px;
    font-weight: 500;
}

#up {
    position: absolute;
    transform: rotate(-90deg);
    left: 70%;
    top: 10%;
    resize: none;
}

#down {
    position: absolute;
    transform: rotate(90deg);
    left: 70%;
    top: 10%;
    resize: none;
}

#sortForm {
    position: relative;
    left: 50%;
}

#sortText {
    background-color: black;
    border-radius: 3px;
    padding: 5px;
    color: rgb(231, 233, 235);
    font-size: 30px;
    position: relative;
    left: -6%;
}

#editIcon {
    width: 120%;
    max-width: 20px;
    min-width: 5px;
}

#mainbody {
    position: relative;
    height: 100%;
}

#htmlelement {
    position: relative;
    height: 100%;
}

#allBookMarks {
    position: relative;
    height: 100%;
}

.simplebookmarks {
    background-color: #2e3435;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
    font-size: 30px;
    width: 25%;
    position: relative;
    left: 35%;
    border-radius: 3px;
    height: 50px;
    top: -50px;
}


.theme {
    border: solid;
    border-radius: 10px;
    padding-bottom: 5%;
    box-shadow: 0px 25px 25px 5px rgba(0, 0, 0, .8);
    width: 85%;
    position: relative;
    left: 7.5%;
    top: 40px;
    background-color: #1e1e1f;
    resize: none;
}

.banner {
    background-color: rgb(0, 0, 0);
    position: relative;
    top: -55px;
    height: 125px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

.bookmarkArea {
    background-color: #2e3435;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
    font-size: 30px;
    width: 75%;
    position: relative;
    left: 15%;
    border-radius: 3px;
    max-height: 50px;
    top: -50px;
}

.title {
    font-size: 500%;
    color: rgb(231, 233, 235);
    text-align: center;
    position: relative;
    top: 15px;
}

.v {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 10%;
    height: 40px;
    background-color: #2e3435;
    border-radius: 5px;
    background-image: linear-gradient(to right, transparent 50%, #1d8831 50%);
    background-size: 200%;
    background-position: 0%;
    transition: .5s;
}

.v:hover {
    background-position: 100%;
}

.d {
    position: absolute;
    top: 10%;
    right: 1%;
    width: 10%;
    height: 40px;
    background-color: #2e3435;
    border-radius: 5px;
    background-image: linear-gradient(to right, transparent 50%, #791717 50%);
    background-size: 200%;
    background-position: 0%;
    transition: .5s;
}

.d:hover {
    background-position: 100%;
}

.e {
    position: relative;
    top: -73px;
    left: 102%;
    right: 5px;
    width: 3%;
    height: 3%;
    background-color: #2e3435;
    border-radius: 5px;
    background-image: linear-gradient(to right, transparent 50%, #97ad45 50%);
    background-size: 200%;
    background-position: 0%;
    transition: .5s;
}

.e:hover {
    background-position: 100%;
}