/*Title*/
#page {
    background-color: #2e3435;
}

.banner {
    
    
}

#inlineImage {
    height: 50px;
}

.title {
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}


/*View and Delete Buttons*/
.vord {
    
}